.git
.github
.vscode
.venv
venv
env
django
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
db.sqlite3-journal
.DS_Store
media
staticfiles
config/secrets.json
docker/cloudflared/config.yml
docker/cloudflared/*.json
