<section class="careers">
    <div class="careers_head">
        <div class="careers_title">
            <h3><b>{% if ui_lang == 'en' %}Career{% else %}경력 사항{% endif %}</b></h3>
        </div>
    </div>
    <cards class="career_cards">
        {% for career in careers %}
        <hr>
        <li class="career_card">
            <div class="career_card_head">
                <h5 class="career_card_title"><b>{{ career.display_company }}</b></h5>
                <div class="career_card_date">
                    <div>{{ career.display_date_range }}</div>
                    <div>({{ career.display_period_text }})</div>
                </div>
            </div>
            <div class="career_card_text">
                <div class="career_card_position">{{ career.position }}</div>
                <div class="career_card_work">{{ career.display_content }}</div>
            </div>
        </li>
        {% endfor %}
    </cards>
</section>
