<section class="hobbys">
    <div class="head">
        <div class="title">
            <h3><b>{% include 'partials/ui_i18n.html' with key='hobby_title' %}</b></h3>
            <div class = 'hobbys_subtitle'>{% include 'partials/ui_i18n.html' with key='hobby_desc' %}</div>
        </div>
    </div>
    <div class="hobby_card">
        <a href="https://www.thingiverse.com/hanbyel/designs">
            <img class="hobby_card_img hover-dark" src="/media/hobbys_title_img.png">
        </a>
    </div>
</section>
