<section class="projects">
    <div class="projects_head">
        <div class="projects_title">
            <h1><b>프로젝트</b></h1>
            <h2>흥미를 가지고 진행했던 프로젝트들을 소개합니다</h2>
        </div>
    </div>
    <ul class="project_cards">
        {% for project in projects %}
        <li class="project_card">
            <a href="/project/{{ project.id }}/">
                <img class="project_card_img" src="{{ project.banner_img.url }}">
            </a>
            <div class="project_card_text">
                <div class="project_card_contents_title">{{ project.title }}</div>
                <ul class="tags">
                    {% for tag in project.tags.all %}
                    <li class="tag">{{ tag.tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>