{% load static %}
<script src="{% static 'js/projact_card.js' %}" type="text/javascript"></script>
<section class="projects">
    <div class="projects_head">
        <div class="projects_title">
            <h3><b>프로젝트</b></h3>
            <div>흥미를 가지고 진행했던 프로젝트들을 소개합니다</div>
        </div>
    </div>
    <ul class="project_cards">
        {% for project in projects %}
        <li class="project_card">
            <div>
                <a href="/project/{{ project.id }}/">
                    <img class="project_card_img hover-dark" src="{{ project.banner_img.url }}"/>
                </a>
                <div class="project_card_text">
                    <hr>
                    <h5 class="project_card_contents_title"><b>{{ project.title }}</b></h5>
                    <hr>
                    <ul class="tags">
                        {% for tag in project.tags.all %}
                        <li class="tag">{{ tag.tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>