{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stratagem_style.css' %}">
<script src="{% static 'js/stratagem.js' %}" type="text/javascript"></script>
<div class="stratagem_page">
    <div class="stratagem">
        <div class="stratagem_content">
            <div class="stratagem_container">
                <div class="arrow arrow-top"></div>
                <div class="arrow arrow-bottom"></div>
                <div class="arrow arrow-left"></div>
                <div class="arrow arrow-right"></div>
                <div class="content">
                <ul class="stratagem_cards">
                    {% for stratagem in stratagems %}
                    <li class="stratagem_card">
                        <img class="stratagem_icon" src="{{ stratagem.icon.url }}" alt="Stratagem Icon"/>
                        <div class="stratagem_name">{{ stratagem.name }} </div>
                        <div class="stratagem_command" data-command="{{ stratagem.command }}"></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>  
        </div>
    </div>
    <hr>
</div>
{% endblock %}