body {
    font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
    color: white;
    background-color: rgb(54, 54, 54)
}

@media (min-width: 900px) {
    .arrow { display: none;
    } 
    .stratagem_icon{
        height: 50px;
        width: 50px;
        margin-right: 5px;
        border-radius: 10%;
    }
    .stratagem_name {
        font-size: 20px;
        margin-right: 5px;
    }  
}
@media (max-width: 899px) {
    .arrow {position: absolute; width: 60px;height: 60px; transform: translate(-50%, -50%);  opacity: 0.5; background-size: contain;
    } 
    .stratagem_icon{
        height: 30px;
        width: 30px;
        margin-right: 2px;
        border-radius: 10%;
    }
    .stratagem_name {
        font-size: 15px;
        margin-right: 5px;
    }  
    .commend_arrow{
        height: 22px;
        width: 22px;
    }
}
title{
    padding-left: 10px;
}
.stratagem_container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80vh;
    width: 100vw; 
}  
.stratagem_hr{
    border-width: 2px;
    color: white;
}
.arrow-top {top: 78%;left: 47%; background-image: url('/media/icon/arrow5.png');
}  
  
.arrow-bottom {bottom: 0;left: 47%; background-image: url('/media/icon/arrow2.png');
}  
  
.arrow-left {top: 85%;left: 35%; background-image: url('/media/icon/arrow1.png');
}  
  
.arrow-right {top: 85%;right: 25%; background-image: url('/media/icon/arrow3.png');
}  
  
.content {margin-top: 0px;margin-left: 0px;  
}
.stratagem_content{
    position: relative;
}
.stratagem_scoreboard{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.end_score{
    color: yellow;
}
.discription{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(129, 129, 129);
}
.stratagem_cards {
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
    width: 100vw;
    overflow-x: auto;
}
.stratagem_card{
    width: calc(100% - 20px);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.stratagem_card_title {
    max-width: calc(100vw);
    display: flex;
    align-items: center;
}


ul{
    list-style-type: none;
    list-style: none;
    }
.title{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;;
}
.title_text{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.lowtext{
    padding-left: 35px;
}
