{% load static_versioned %}
<div class="multiplayer-loading-spinner" data-game-loading-spinner aria-hidden="true">
    <span class="multiplayer-loading-orbit multiplayer-loading-orbit-trail multiplayer-loading-orbit-trail-1" data-game-loading-trail>
        <img class="multiplayer-loading-orbit-icon" src="{% static_v 'Spikip/speaki_default/icon/acceleration.png' %}" alt="">
    </span>
    <span class="multiplayer-loading-orbit multiplayer-loading-orbit-trail multiplayer-loading-orbit-trail-2" data-game-loading-trail>
        <img class="multiplayer-loading-orbit-icon" src="{% static_v 'Spikip/speaki_default/icon/acceleration.png' %}" alt="">
    </span>
    <span class="multiplayer-loading-orbit multiplayer-loading-orbit-trail multiplayer-loading-orbit-trail-3" data-game-loading-trail>
        <img class="multiplayer-loading-orbit-icon" src="{% static_v 'Spikip/speaki_default/icon/acceleration.png' %}" alt="">
    </span>
    <span class="multiplayer-loading-orbit multiplayer-loading-orbit-trail multiplayer-loading-orbit-trail-4" data-game-loading-trail>
        <img class="multiplayer-loading-orbit-icon" src="{% static_v 'Spikip/speaki_default/icon/acceleration.png' %}" alt="">
    </span>
    <span class="multiplayer-loading-orbit multiplayer-loading-orbit-trail multiplayer-loading-orbit-trail-5" data-game-loading-trail>
        <img class="multiplayer-loading-orbit-icon" src="{% static_v 'Spikip/speaki_default/icon/acceleration.png' %}" alt="">
    </span>
    <span class="multiplayer-loading-orbit" data-game-loading-main>
        <img class="multiplayer-loading-orbit-icon" src="{% static_v 'Spikip/speaki_default/icon/acceleration.png' %}" alt="">
    </span>
</div>
