<div class="multiplayer-idle-modal-backdrop" data-game-idle-modal hidden>
    <div class="multiplayer-idle-modal" data-popup-fit-bottom role="dialog" aria-modal="true" aria-labelledby="multiplayer-idle-modal-title" aria-describedby="multiplayer-idle-modal-description">
        <h2 class="multiplayer-idle-modal-title" id="multiplayer-idle-modal-title">
            {% include 'partials/ui_i18n.html' with key='multiplayer_idle_modal_title' %}
        </h2>
        <p class="multiplayer-idle-modal-description" id="multiplayer-idle-modal-description">
            {% include 'partials/ui_i18n.html' with key='multiplayer_idle_modal_description' %}
        </p>
        <button class="handrive-btn handrive-btn-primary" type="button" data-game-idle-modal-close>
            {% include 'partials/ui_i18n.html' with key='multiplayer_idle_modal_close' %}
        </button>
    </div>
</div>
