<div class="multiplayer-death-modal-backdrop" data-game-death-modal hidden>
    <div class="multiplayer-death-modal" data-popup-fit-bottom role="dialog" aria-modal="true" aria-labelledby="multiplayer-death-modal-title">
        <h2 class="multiplayer-death-modal-title" id="multiplayer-death-modal-title" data-game-death-modal-title>
            {% include 'partials/ui_i18n.html' with key='multiplayer_death_modal_title' %}
        </h2>
        <div class="multiplayer-death-modal-spectate" data-game-death-modal-spectate hidden>
            <button class="handrive-btn multiplayer-death-modal-arrow" type="button" data-game-death-modal-spectate-prev>
                {% include 'partials/ui_i18n.html' with key='multiplayer_death_modal_spectate_prev' %}
            </button>
            <div class="multiplayer-death-modal-spectate-label" data-game-death-modal-spectate-label></div>
            <button class="handrive-btn multiplayer-death-modal-arrow" type="button" data-game-death-modal-spectate-next>
                {% include 'partials/ui_i18n.html' with key='multiplayer_death_modal_spectate_next' %}
            </button>
        </div>
        <button class="handrive-btn handrive-btn-primary multiplayer-death-modal-button" type="button" data-game-death-modal-respawn disabled>
            {% include 'partials/ui_i18n.html' with key='multiplayer_death_modal_respawn' %}
        </button>
    </div>
</div>
