{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!doctype html>
<html lang="ko">
<link rel="icon" href="{% static 'favicon.png' %}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>hanbyel's portfolio</title>
    <a class = 'base_banner'>
        <div class = "base_text">
            <h3 class = 'base_title'>
                움직이는 풀스택 개발자, <b>임한별</b> 입니다.
            </h3>
            <i class="fa-solid fa-square-phone"></i>
            <div class = "phone">
                Phone: +82-10-7935-3599
            </div>
            <div class = "Email">
                Email: limhan456@naver.com
            </div>
        </div>
        <img class = "profile_img" src="/media/profile.jpg"/>
    </a>
</head>
<body>
    <div class="base_contents">
        {% block content %}
        {% endblock %}
    </div>
    <div class = 'foot'>
        <div>
            Made with Django
        </div>
    </div>
</body>
</html>