{% extends 'base.html' %}
{% block content %}
<div class = "main">
    <div class = 'main_banner'>
        <div class = "main_text">
            <h4 class = 'main_title'>
                움직이는 백엔드 개발자, <b>임한별</b> 입니다.
            </h4>
            <div class = 'contact'>
                <div class = "phone">
                    Phone: +82-10-7935-3599
                </div>
                <div class = "Email">
                    Email: limhan456@naver.com
                </div>
            </div>
        </div>
        <img class = "profile_img" src="/media/profile.jpg"/>
    </div>
    <div class = "main_contents">
        <hr>
        <div class = 'main_subtitle'>
            <div>자신이 당장 하지 못하는 일이라고 손가락을 빨며 멀리서 지켜 보는 게 아니라 일단 발을 담궈 봅니다.</div>
            <div>수동적으로 시키는 일만 하며 멈춰 있는 것이 아닌, 본인이 할 수 있는 일을 계속해서 만들어냅니다.</div>
        </div>
        <hr>
        <div class="animation fade-up">
            {% include "main/Careers.html" %}
        </div>
        <div class="animation fade-up">
            {% include "main/Projects.html" %}
        </div>
    </div>
</div>
{% endblock %}