{% load static_versioned %}
<script src="{% static_v 'js/handrive/editor_completion_map.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/page_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/context_menu_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/list_render_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/navigation_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/preview_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/modal_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/editor_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/git_repo_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/preview_flow_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/git_repo_flow_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/queue_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/queue_operation_helpers.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
<script src="{% static_v 'js/handrive/page.js' %}" defer onerror="window.__reloadStaticScript(this)"></script>
