{% if user.is_authenticated %}
{% include "popup/handrive/_confirm_modal.html" with modal_id="handrive-auth-logout-modal" backdrop_id="handrive-auth-logout-modal-backdrop" title_id="handrive-auth-logout-title" message_id="handrive-auth-logout-message" cancel_button_id="handrive-auth-logout-cancel-btn" confirm_button_id="handrive-auth-logout-confirm-btn" title_text=handrive_text.auth_logout_button message_text=handrive_text.auth_logout_confirm cancel_text=handrive_text.cancel confirm_text=handrive_text.auth_logout_button %}
{% endif %}
