<div id="handrive-context-menu" class="handrive-context-menu" hidden>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="open">{{ handrive_text.menu_open }}</button>
        <button type="button" data-action="download">{{ handrive_text.menu_download }}</button>
    </div>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="upload">{{ handrive_text.menu_upload }}</button>
        <button type="button" data-action="new-folder">{{ handrive_text.menu_new_folder }}</button>
        <button type="button" data-action="new-doc">{{ handrive_text.menu_new_document }}</button>
    </div>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="git-create-repo">Repo 생성</button>
        <button type="button" data-action="git-manage-repo">Repo 관리</button>
        <button type="button" data-action="git-delete-repo">{{ handrive_text.menu_delete_repo }}</button>
    </div>
    {% if handrive_can_manage_acl %}
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="permissions">{{ handrive_text.menu_permissions }}</button>
    </div>
    {% endif %}
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="edit">{{ handrive_text.menu_edit }}</button>
        <button type="button" data-action="rename">{{ handrive_text.menu_rename }}</button>
        <button type="button" data-action="delete">{{ handrive_text.menu_delete }}</button>
    </div>
</div>
