<div id="handrive-folder-modal" class="handrive-folder-modal" hidden>
    <div class="handrive-folder-modal-backdrop" id="handrive-folder-modal-backdrop"></div>
    <div class="handrive-folder-modal-dialog" data-popup-fit-bottom role="dialog" aria-modal="true" aria-labelledby="handrive-folder-modal-title">
        <h3 id="handrive-folder-modal-title" class="handrive-folder-modal-title">{{ docs_text.folder_modal_title }}</h3>
        <div class="handrive-folder-modal-path" id="handrive-folder-target-path">/handrive</div>
        <label class="handrive-field handrive-field-full">
            <span>{{ docs_text.folder_name_label }}</span>
            <input type="text" id="handrive-folder-name-input" placeholder="{{ docs_text.folder_name_placeholder }}">
        </label>
        <div class="handrive-folder-modal-actions">
            <button type="button" class="handrive-btn" id="handrive-folder-cancel-btn">{{ docs_text.cancel }}</button>
            <button type="button" class="handrive-btn handrive-btn-primary" id="handrive-folder-create-btn">{{ docs_text.create_button }}</button>
        </div>
    </div>
</div>
