<nav id="navbar" class="navbar ui-nav" aria-label="Navigation Bar">
	<div class="container-fluid">

		{{/* 브랜드 */}}
		<div class="ui-brand-group">
			<a class="navbar-brand ui-brand" href="https://www.hanplanet.com">
				<span class="ui-brand-text">Hanplanet</span>
			</a>
		</div>

		{{/* 토글러: 모바일 축소 시 표시 */}}
		<button class="navbar-toggler ui-nav-toggler" type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="메뉴 열기/닫기">
			<span class="navbar-toggler-icon"></span>
		</button>

		{{/* 축소 영역: 링크 + 컨트롤 */}}
		<div class="collapse ui-nav-collapse" id="navbarSupportedContent">

			{{/* 네비게이션 링크 */}}
			<ul class="ui-nav-links">
				<li class="nav-item"><a class="nav-link ui-nav-link" href="{{.AppSubURL}}/explore/repos">탐색</a></li>
				<li class="nav-item"><a class="nav-link ui-nav-link" href="https://www.hanplanet.com/handrive/list">HanDrive</a></li>
				<li class="nav-item">
				{{if .IsSignedIn}}
					<a class="nav-link ui-nav-link" href="{{.AppSubURL}}/{{.SignedUser.Name}}">Git</a>
				{{else}}
					<a class="nav-link ui-nav-link" href="https://git.hanplanet.com">Git</a>
				{{end}}
			</li>
			</ul>

			{{/* 언어 + 테마 컨트롤 */}}
			<div class="ui-controls-stack">
				<div class="ui-control-toggle ui-lang-toggle">
					<a class="ui-control-link ui-lang-link" id="ui-lang-ko" href="#" data-hp-lang="ko-KR">KO</a>
					<span class="ui-lang-divider">|</span>
					<a class="ui-control-link ui-lang-link" id="ui-lang-en" href="#" data-hp-lang="en-US">EN</a>
				</div>
				<div class="ui-control-toggle ui-theme-toggle">
					<a class="ui-control-link ui-lang-link" id="ui-theme-lt" href="#" data-hp-theme="gitea-light">LT</a>
					<span class="ui-lang-divider">|</span>
					<a class="ui-control-link ui-lang-link" id="ui-theme-dk" href="#" data-hp-theme="gitea-dark">DK</a>
				</div>
			</div>

		</div>

	</div>
</nav>
